$fa-font-path: "../bower_components/fontawesome/fonts/";
@import "../bower_components/fontawesome/scss/font-awesome";

@import "compass/css3";

.browsehappy {
    margin: 0.2rem 0;
    background: #ccc;
    color: #000;
    padding: 0.2rem 0;
}

body {
    padding: 0;
    background: #000;
}

a {
    text-decoration: none;
    color: #fff;
}

@mixin absolute-fit() {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

$module: 'grid';

.#{$module} {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    &__item {
        flex: 0 0 auto;
        width: (100%/3); // grid starts with 3 columns on mobile first
        overflow: hidden;
        position: relative;
        cursor: pointer;
        &:before {
            content: "";
            display: block;
            padding-top: 75%; // ratio 4:3
        }
        $itemW: 240px;
        $items: 4;
        @while $items < 10 {
            $minWidth: 1 + $itemW*($items - 2);
            $maxWidth: $itemW*($items - 1);
            @media (min-width: $minWidth) and (max-width: ($maxWidth)) {
                width: 100%/$items;
            }
            $items: $items + 1;
        }
    }
    &__content {
        @include absolute-fit();
    }
    &__overlay {
        background: rgba(0,0,0,0.5);
        color: #fff;
        padding: 1rem;
        @include absolute-fit();
        opacity: 0;
        @include transition(opacity 0.3s);
        &:hover {
            opacity: 1;
        }
    }
}

.bottom-left {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.image-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%;
    }
}

.heart {
    color: #FF7D7D;
    text-shadow: 0 0 3px #000;
}

$module: 'selected';

.#{$module} {
    .#{$module}__show {
        @include transform(scale(1));
    }
    &__show {
        @include transform(scale(0));
        @include transition(transform 0.2s);
    }
}
