<div class="wrapper">
    <div class="grid">
        <div class="grid__item ng-like" data-ng-class="liked() ? 'selected' : ''" data-ng-repeat="item in stream.items" data-ng-click="liked() ? unline(item) : like(item)">
            <div class="grid__content image-cover">
                <img class="grid__image" data-ng-src="{{ item.media.m }}" alt=""/>
                <div class="grid__overlay">
                    <div data-ng-href="{{ item.link }}">
                        {{ item.title }}
                    </div>
                </div>
            </div>
            <i class="fa fa-heart heart selected__show bottom-left"></i>
        </div>
    </div>
</div>
